{{#partial "contenido"}}

<main role="main">
  <div class="album py-5">
    <div class="container">

      <h1>Catálogo de dispositivos</h1>

      <div class="row">

        {{#dispositivos}}

        <div class="col-md-4 ">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <form action="/dispositivos/{{this.id}}/info" method="GET">
                <h5>{{this.nombre}}</h5>
                <ul>
                  <li>Inteligente: {{this.inteligente}}</li>
                  <li>Bajo consumo: {{this.bajoConsumo}}</li>
                  <li>Consumo (kWh): {{this.consumo}}</li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Adquirir</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        {{/dispositivos}}

      </div>
    </div>
  </div>
  <div align="left">
    <form action="/dispositivos/{{previousPage}}" method="GET">
      <button type="submit" class="btn btn--radius-2 btn--red">Anterior</button>
    </form>
  </div>
  <div align="right">
    <form action="/dispositivos/{{nextPage}}" method="GET">
      <button type="submit" class="btn btn--radius-2 btn--red">Siguiente</button>
    </form>
  </div>

</main>
{{/partial}}

{{>layout.hbs}}