{{#partial "contenido"}}

<div class="container tools-padding">
	<div class="py-5 text-left">
		<h2>Panel de usuario</h2>
	</div>

	<div class="row">
		<div class="mb-4">
			<div class="card-body">
				<form action="/me/edit" method="POST">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="nombre">Nombre</label>
							<input type="text" class="form-control" name="nombre" placeholder="Cosme" value="{{nombre}}" required="" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
							<div class="invalid-feedback">
								Ingrese un nombre válido.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="apellido">Apellido</label>
							<input type="text" class="form-control" name="apellido" placeholder="Fulanito" value="{{apellido}}" required="">
							<div class="invalid-feedback">
								Ingrese un nombre válido.
							</div>
						</div>
					</div>

					<div class="mb-3">
						<label for="telefono">Teléfono</label>
						<input type="text" class="form-control" name="telefono" placeholder="12 3456 7890" value="{{telefono}}" required="">
						<div class="invalid-feedback">
							Ingrese un número de teléfono válido.
						</div>
					</div>

					<div class="mb-3">
						<label for="direccion">Domicilio</label>
						<input type="text" class="form-control" name="direccion" placeholder="Av. Medrano 951" value="{{domicilio}}" required="">
						<div class="invalid-feedback">
							Ingrese una dirección válida.
						</div>
					</div>

					<div class="row">
						<div class="col-md-5 mb-3">
							<label for="tipoDni">Tipo de documento</label>
							<select class="custom-select d-block w-100" name="tipoDni" required="">
								<option value="">Elegir...</option>
								<option>DNI</option>
								<option>LE</option>
								<option>LC</option>
								<option>CI</option>
							</select>
							<div class="invalid-feedback">
								Elija un tipo válido de documento.
							</div>
						</div>
						<div class="col-md-5 mb-3">
							<label for="numeroDni">Número de documento</label>
							<input type="text" class="form-control" name="numeroDni" value="{{numeroDni}}" placeholder="" required="">
							<div class="invalid-feedback">
								Ingrese un número válido de documento.
							</div>
						</div>
					</div>

					<div class="mb-3">
						<label for="permiso">Apagar dispositivos infractores?</label>
						<div class="custom-control custom-radio">
							<input id="credit" name="permiso" type="radio" class="custom-control-input" value="Sí" required="">
							<label class="custom-control-label" for="credit">Sí</label>
						</div>
						<div class="custom-control custom-radio">
							<input id="debit" name="permiso" type="radio" class="custom-control-input" checked="" value="No" required="">
							<label class="custom-control-label" for="debit">No</label>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-lg btn-block btn-primary">Confirmar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{{/partial}}

{{>layout.hbs}}