{{#partial "contenido"}}

<div class="container tools-padding">
	<div class="row text-center">
		<div class="col-sm">
			
			<h3 class="my-0 font-weight-normal">Solicitudes pendientes</h3>
			
			{{#pendientes}}
			<div class="card">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">{{this.dispositivo.nombre}}</h4>
				</div>
				<div class="card-body">
					<p>
						Número de solicitud: {{this.idCheto}}<br>
						Cliente: {{this.cliente.nombre}} {{this.cliente.apellido}}
						Fecha de solicitación: {{this.fechaCreacionCheta}}<br>
						Pendiente de revisión<br>
					</p>
					<div class="row">
						<div class="col-sm">
							<form action="/dispositivos/{{this.dispositivo.id}}/info" method="GET">
								<div class="btn-group">
									<button type="submit" class="btn btn-sm btn-outline-secondary">Ver dispositivo</button>
								</div>
							</form>
						</div>
						<div class="col-sm">		
							<form action="/hogares/{{this.cliente.id}}" method="GET">
								<div class="btn-group">
									<button type="submit" class="btn btn-sm btn-outline-secondary">Ver cliente</button>
								</div>
							</form>
						</div>
					</div>
					<div class="standard-button">
						<form action="/solicitudes/{{this.id}}/info" method="GET">
							<button type="submit" class="btn btn-lg btn-block btn-primary">Ver solicitud</button>
						</form>
					</div>
				</div>
			</div>
			{{/pendientes}}
		</div>
		<div class="col-sm">
			
			<h3 class="my-0 font-weight-normal">Solicitudes resueltas</h3>
			
			{{#cerradas}}
			<div class="card">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">{{this.dispositivo.nombre}}</h4>
				</div>
				<div class="card-body">
					<p>
						Número de solicitud: {{this.idCheto}}<br>
						Fecha de solicitación: {{this.fechaCreacionCheta}}<br>
						Fecha de cierre: {{this.fechaCierreCheta}}<br>
						Resolución: {{this.estado}}<br>
					</p>
					<!--form action="/dispositivos/{{this.idDispositivo}}/info" method="GET">
						<button type="submit" class="btn btn-lg btn-block btn-primary">Ver dispositivo</button>
					</form-->
				</div>
			</div>
			{{/cerradas}}
		</div>
	</div>

</div>

{{/partial}}

{{>layout.hbs}}

